@import 'common';

/** Variables **/
$primary: #9356dc;
$grey: #353535;
$grey2: #eaeaea;
$grey4: #7e7e7e;
$bg-button: linear-gradient(to top, #9356DC, #FF79DA);

/** Mixins **/

@mixin index-h1h2 {
    font-weight: 700;
    font-size: 24px;
    color: Black;
}

@mixin button-pink {
    height: 50px;
    border: 0;
    border-radius: 25px;
    @include text-white;
    background: $bg-button;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 0.25);
}


/** Header **/

.header {
    display: flex;
    flex-direction: column;
    .header__logo {
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0.15);
        z-index: 2;
    }
    .header__goback{
        display: none;
    }
    .header-local {
        height: 50px;
        width: 375px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        background-color: $grey2;
        box-shadow: 0 4px 4px 0 rgb(0 0 0 / 0.25);
        z-index: 1;
        .header-local__input {
            height: 19px;
            width: 109px;
            font-size: 16px;
            font-weight: 500;
            background-color: $grey2;
            border: 0;
            padding: 0;
        }
    }
}

/** Presentation section 1 **/

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;    
    .present-title {
        height: 68px;
        width: 275px;
        text-align: center;
        @include index-h1h2;
        margin-top: 39px;
    }
    .present-text {
        height: 46px;
        width: 315px;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        color: $grey;
    }
    .present__button {
        @include button-pink;
        width: 218px;
        margin: 27px 0 57px 0;
        opacity: 1;
        transition: all 300ms ease-in-out;
        &:hover {
            opacity: 0.85;
            box-shadow: 0 4px 10px 0 rgb(0 0 0 / 0.35);            
        }
    }
} 


/** Fonctionnement section 2 **/

.function {
    height: 440px;
    background-color: white;
    .function-title {
        height: 31px;
        @include index-h1h2;
        padding: 48px 0 26px 20px;
    }
    .function-organise {
        display: flex;
        flex-direction: column;
        .function-fullbutton {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0 0 25px 12px;
            .function-button {
                position: relative;
                height: 72px;
                width: 322px;
                border: 0;
                border-radius: 20px;
                background-color: #f6f6f6;
                box-shadow: 0 4px 15px 0 rgb(0 0 0 / 0.15);
                font-size: 16px;
                font-weight: 500;
                .fonction-button__texte {
                    position: absolute;
                    top: 27px;
                    left: 73px;
                    font-size: 16px;
                }    
                .number {
                    display: flex;
                    position: absolute;
                    top: 27px;
                    left: -12px;
                    width: 24px;
                    height: 24px;
                    border-radius: 12px;
                    background-color: $primary;
                    font-size: 14px;
                    color: white;
                    span{
                        margin: auto;
                        text-align: center;
                    }
                }
                .icon1, .icon2, .icon3 {
                    position: absolute;
                    top: 25px;
                    left: 36px;
                    font-size: 18px;
                    color: $grey4;
                }
                .icon3 {
                    color: $primary;
                }
            }
        }
    }
}


/** Restaurants section 3 **/

.restaurant {
    min-width: 375px;
    h2 {
        @include index-h1h2;
        margin: 54px 0 24px 20px;
    }
    .restaurant-allcards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        margin-bottom: 66px;
        .restaurant-card {
            position: relative;
            height: 251px;
            width: 340px;
            border-radius: 15px;
            background-color: white;
            box-shadow: 0 4px 15px 0 rgb(0 0 0 / 0.10);
            .restaurant-card-new {
                height: 29px;
                width: 80px;
                border-radius: 2px;
                background-color: #99e2d0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                color: #008766;
                position: absolute;
                top: 13px;
                left: 248px;
            }
            .image-restau {
                width: 340px;
                height: 174px;
                object-fit: cover;
                object-position: bottom;
                border-radius: 15px 15px 0 0;
            }
            #img-restau2 {
                object-position: 50% 61%;
              }
            .restaurant-card-title {
                font-size: 18px;
                margin: 11px 0 5px 13px;
            }
            .restaurant-card-text {
                font-size: 17px;
                margin-left: 13px;
            }
            .icon-heart, .icon-fullheart {
                font-size: 22px;
                position: absolute;
                top: 197px;
                left: 293px;
            }
            .icon-fullheart {
                background: linear-gradient(to top, #FF79DA, #9356DC);
                background-clip: text;
                color: transparent;
                opacity: 0;
                transition: opacity 500ms ease-in-out;
                &:hover{
                opacity: 1;
                }
            }
            
        }
    }
}







