@import 'common';


/** Mixins **/

@mixin index-h1h2 {
    font-weight: 700;
    font-size: 24px;
    color: Black;
}

@mixin button-pink {
    height: 50px;
    border: 0;
    border-radius: 25px;
    @include text-white;
    background: $bg-button;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 0.25);
}

/** General **/

.body__container {
    width: 100%;
    background-color: $background;
    box-sizing: content-box;
}

* {
    margin: 0;
    padding: 0;
    gap: 0;
}


/** Header **/

.header {
    display: flex;
    flex-direction: column;
    &__logo {
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0.15);
        z-index: 2;
    }
    .header__goback{
        display: none;
    }
    .header-local {
        height: 50px;
        @include display-center;
        gap: 17px;
        background-color: $grey2;
        box-shadow: 0 4px 4px 0 rgb(0 0 0 / 0.25);
        z-index: 1;
        &__input {
            height: 19px;
            width: 109px;
            font-size: 16px;
            font-weight: 500;
            background-color: $grey2;
            border: 0;
            padding: 0;
        }
    }
}

/** Presentation section 1 **/


.present {
    @include display-center;
    flex-direction: column;    
    .present-title {
        width: 73%;
        text-align: center;
        @include index-h1h2;
        margin: 39px 0 13px 0;
    }
    .present-text {
        width: 84%;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        color: $grey;
    }
    .present__button {
        @include button-anim;
        width: 218px;
        margin-top: 27px; 
        margin-bottom: 50px;     
    }
} 


/** Fonctionnement section 2 **/

.function { 
    background-color: white; 
    & > div {
        .function-title {
            height: 31px;
            @include index-h1h2;
            margin: 0 0 24px 20px;
            padding-top: 48px;
        }
        .function-organise {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 25px;
            padding-bottom: 68px;
            .function-fullbutton {
                display: flex;
                justify-content: center;
                padding-left: 12px;
                .function-button {
                    position: relative;
                    height: 72px;
                    width: 322px;
                    border: 0;
                    border-radius: 20px;
                    background-color: #f6f6f6;
                    box-shadow: 0 4px 15px 0 rgb(0 0 0 / 0.15);
                    font-size: 16px;
                    font-weight: 500;
                    .fonction-button__texte {
                        position: absolute;
                        top: 27px;
                        left: 73px;
                        font-size: 16px;
                    }    
                    .number {
                        display: flex;
                        position: absolute;
                        top: 27px;
                        left: -12px;
                        width: 24px;
                        height: 24px;
                        border-radius: 12px;
                        background-color: $primary;
                        font-size: 14px;
                        color: white;
                        span{
                            margin: auto;
                            text-align: center;
                        }
                    }
                    .icon1, .icon2, .icon3 {
                        position: absolute;
                        top: 25px;
                        left: 36px;
                        font-size: 18px;
                        color: $grey4;
                    }
                    .icon3 {
                        color: $primary;
                    }
                }
            }
        }
    }   
}


/** Restaurants section 3 **/

.restaurantTitle {
    @include index-h1h2;
    margin: 54px 0 24px 20px;
    padding-left: 3px;
}

.restaurant-allcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 66px;
    gap: 18px;
    .restaurant-card {
        position: relative;
        height: 251px;
        width: 340px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 4px 15px 0 rgb(0 0 0 / 0.10);
        .restaurant-card-new {
            height: 29px;
            width: 80px;
            border-radius: 2px;
            background-color: $green;
            @include display-center;
            font-size: 14px;
            font-weight: 500;
            color: #008766;
            position: absolute;
            top: 13px;
            right: 14px;
        }
        .image-restau {
            width: 340px;
            height: 174px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }
        #img-restau1 {
            object-position: 50% 65%;
            }
        #img-restau2 {
            object-position: 50% 56%;
            }
        #img-restau3 {
            object-position: 50% 68%;
            }
        #img-restau4 {
            object-position: 50% 66%;
            }
        .restaurant-card-title {
            font-size: 18px;
            margin: 11px 0 5px 13px;
        }
        .restaurant-card-text {
            font-size: 17px;
            margin-left: 13px;
        }
        .icon-heart, .icon-fullheart {
            font-size: 22px;
            position: absolute;
            top: 197px;
            left: 293px;
        }
        .icon-fullheart {
            @include like;
        }
        
    }
}

/** Footer **/

    footer {
        justify-content: flex-start;
        .footer {
            margin-left: 12px;
        }
    }



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Desktop, equal/more than 1024px) */

@media (min-width: 1024px) {

    .header {
        box-shadow: none;
        .header__logo {
            height: 96px;
            box-shadow: none;
            &--width {
                width: 200px;
                padding-top: 0;
            }
        }
        .header-local {        
            box-shadow: none;
        }
    }


    .presentation {
        display: flex;
        justify-content: center;
        .present {
            width: 645px;
            padding: 30px 0;
            &-title {
                width: 645px;
                font-size: 40px;
                font-weight: 700;
                text-align: center;
                margin-top: 0;
                padding-top: 3px;
            }
            .present-text {
                width: 531px;
                margin: 20px 0 3px 0;
            }
            .present__button {
                margin-bottom: 0;
                padding: 0;
            }
        }
    }    


    .function {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        border: solid 1px green;
        & > div {            
            width: 75%;
            padding: 0;
            margin: 0;
            .function-title {
                margin-top: 0;
                margin-left: 0;
                padding-top: 50px;
            }
            .function-organise {
                flex-direction: row;
                justify-content: flex-start;
                gap: 25px;
                margin: 0;
                padding-right: 27px;
                padding-bottom: 50px;
                .function-fullbutton {                    
                    padding: 0 0 1px 12px;
                }
            }
        }
            
    }

    .restaurant {
        display: flex;
        justify-content: center;
        padding: 30px 0px 30px 0px;
        & > div {
            width: 75%;
            margin: 0;
            padding: 0;
            h2 {
                padding: 0;
                margin-top: 0;
                margin-left: 0;
            }
            .restaurant-allcards {
                flex-direction: row;
                justify-content: space-between;
                margin-left: 0;
                margin-bottom: 0;
                gap: 50px;
                max-width: 1080px;
                .restaurant-card {
                    width: 490px;
                    .restaurant-card-new {
                        right: 17px;
                    }
                    .image-restau {
                        width: 490px;
                    }
                    .icon-heart, .icon-fullheart {
                        left: 443px;
                    }
                }
            }
        }        
    }


    footer {
        display: flex;
        justify-content: end;
        .footer {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            padding: 30px 0 10px 0;
            margin: 0;
            gap: 16px;
            .footer__logo {
                height: 27px;
                width: 139px;
                margin: 0;
                padding: 0;
            }
            .footer__menu {
                display: flex;
                flex-direction: row;
                gap: 7px;
                list-style: none;
                padding: 0;
                margin: 0;
                & > li {
                    height: 20px;
                    width: 190px;
                    padding: 0;
                    .fa-utensils {
                        font-size: 14px;
                        padding-right: 10px;
                    }
                    .fa-handshake-angle {
                        font-size: 11px;
                        padding-right: 8px;
                    }
                }
                .li-width {
                    width: 130px;
                }
            }
        }
    }

}
