@import 'common';


/** General **/

.body__container {
    background-color: $background;
    width: 100%;
    box-sizing: content-box;
}

h1 {
    font-family: "Shrikhand", cursive;
    font-size: 28px;
    font-weight: 400;
}


/** main **/

main {
    width: 100%;
    margin: 0;
    padding: 0;
    & > img {
        width: 100%;
        height: 260px;        
        object-fit: cover;
        object-position: center 62%;
        position: static;
    }
    .mainBlock {
        width: 100%;
        background-color: white;
        @include display-center;
        flex-direction: column;
        margin-top: -45px;        
        .mainBg {
            background-color: $background;
            width: 100%;
            min-width: 375px;
            @include display-center;
            flex-direction: column;
            gap: 40px;
            margin: 0;
            border-radius: 40px 40px 0 0;
            padding-top: 60px;
        } 
    }
}


/** Titre **/

.h1Block {
    position: relative;
    width: 341px;
    & > h1 {
        position: absolute;
        top: -27px;
    }
    .icon-heart, .icon-fullheart {
        font-size: 22px;
        position: absolute;
        top: -19px;
        right: 25px;
    }
    .icon-fullheart {
        @include like;
    }  
}


/** Sections **/

section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 60%;
    min-width: 349px;
}

.h2Block {
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 16px;
        font-weight: 300;
        height: 24px;
        text-transform: uppercase;
    }
    .traitVert {
        width: 40px;
        height: 3px;
        background-color: $green;
    }
}

.card {
    height: 69px;
    border-radius: 15px;
    box-shadow: 0 4px 15px 0 rgb(0 0 0 / 0.1);
    display: flex;
    gap: 10px;
    overflow: hidden;
    .cardInfos {
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0;
        margin-left: 15px;
        gap: 1px;
        h3, .comment {
            @include text-overflow;
            height: 20px;
            padding-top: 10px;
        }
        h3 {
            font-size: 18px;
            font-weight: 500;            
        }
        .comment {
            font-size: 15px;
            font-weight: 300;
        }
    }  
}

.price {
    width: 27px;
    height: 18px;
    font-size: 15px;
    font-weight: 700;
    margin: 37px 1px 0 3px;
}
.greenCheck {
    width: 59px;
    height: 69px;
    border-radius: 0 15px 15px 0;
    background-color: $green;
    & > i {
        font-size: 20px;
        color: white;
        padding: 24px 19px;
    }
    margin-right: -59px;
}


/** Footer **/

.footer {
    width: 60%;
}


/** transition greenCheck avec margin-right **/
.greenCheck {
    transition: margin-right 300ms ease;
}
.card:hover {    
    .greenCheck {
        margin-right: 0;
    }
}
/** fin transition **/


/** Button **/

.button_order {
@include button_anim;
width: 186px;
height: 50px;
margin-bottom: 40px;
}





/************************************/
/****** Media queries ***************/
/* Desktop, equal/more than 1024px) */

    /** header **/

@media (min-width: 1024px) {

    .header {
        box-shadow: none;
        &__goback {
            top: 33px;
            left: 17px;
        }
        .header__logo {
            height: 96px;
            box-shadow: none;
            &--width {
                width: 200px;
                padding-top: 0;
            }
        }
    }

    /** main **/

    main > img {
        height: 383px;
        object-position: 50% 58%;
    }
    .mainBlock {
        margin-top: 0px;
        .mainBg {
            max-width: 1055px;            
            padding-top: 0px;
        }
    }

    .h1Block {
        position: relative;
        width: 307px;
        height: 31px;

        margin-bottom: 0px;

        & > h1 {
            top: -9px;
            left: 0px;
        }
        .icon-heart, .icon-fullheart {
            top: 0px;
            right: 0px;
        }
    }


    /* footer */

    footer {
        display: flex;
        justify-content: end;
        .footer {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            padding: 30px 0 10px 0;
            margin: 0;
            gap: 16px;
            .footer__logo {
                height: 27px;
                width: 139px;
                margin: 0;
                padding: 0;
            }
            .footer__menu {
                display: flex;
                flex-direction: row;
                gap: 7px;
                list-style: none;
                padding: 0;
                margin: 0;
                & > li {
                    height: 20px;
                    width: 190px;
                    padding: 0;
                    .fa-utensils {
                        font-size: 14px;
                        padding-right: 10px;
                    }
                    .fa-handshake-angle {
                        font-size: 11px;
                        padding-right: 8px;
                    }
                }
                .li-width {
                    width: 130px;
                }
            }
        }
    }

}