@charset "UTF-8";
/** Variables **/
/** Mixins **/
/** General **/
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

.h1-restaurant {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}

.h2 {
  font-size: 24px;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}
a a:hover {
  cursor: pointer;
}

/** Header **/
.header {
  background-color: white;
  position: relative;
}
.header__logo {
  height: 63px;
  width: 100%;
}
.header__logo--width {
  width: 162px;
  padding-top: 10px;
}
.header__goback {
  width: 30px;
  height: 30px;
  font-size: 18px;
  color: #353535;
  position: absolute;
  top: 16px;
  left: 16px;
}
.header .header__logo, .header .header__goback {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Footer **/
.footer {
  background-color: #353535;
  font-weight: 500;
  font-size: 16px;
  color: White;
  padding: 22px 25px 22px 25px;
}
.footer .footer__logo {
  height: 27px;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}
.footer .footer__menu {
  list-style: none;
  padding: 0;
  margin-top: 9px;
}
.footer .footer__menu li {
  height: 20px;
  padding: 7px 0 0 0;
}
.footer .footer__menu li .fa-utensils {
  font-size: 14px;
  padding-right: 10px;
}
.footer .footer__menu li .fa-handshake-angle {
  font-size: 11px;
  padding-right: 8px;
}

/** General **/
.body__container {
  background-color: #f6f6f6;
  width: 375px;
  box-sizing: content-box;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}

/** main **/
main {
  width: 100%;
  margin: 0;
  padding: 0;
}
main > img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  margin: 0;
  position: relative;
}
main .roundHat, main .mainBg {
  background-color: #f6f6f6;
  width: 375px;
}
main .roundHat {
  height: 58px;
  border-radius: 40px 40px 0 0;
  position: absolute;
  top: 283px;
}
main .mainBg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin: 0;
}

/** Titre **/
.h1Block {
  position: relative;
  width: 341px;
}
.h1Block > h1 {
  position: absolute;
  top: -30px;
}
.h1Block .icon-heart, .h1Block .icon-fullheart {
  font-size: 22px;
  position: absolute;
  top: -21px;
  right: 25px;
}
.h1Block .icon-fullheart {
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.h1Block .icon-fullheart:hover {
  opacity: 1;
}

/** Section 1 Entrées **/
section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.h2Block {
  display: flex;
  flex-direction: column;
}
.h2Block h2 {
  font-size: 16px;
  font-weight: 300;
  height: 24px;
  text-transform: uppercase;
}
.h2Block .traitVert {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}

.card {
  width: 349px;
  height: 69px;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.card .cardInfos {
  height: 42px;
  width: 287px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: solid 1px green;
}
.card .cardInfos h3, .card .cardInfos .comment {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .cardInfos h3 {
  font-size: 18px;
  font-weight: 500;
}
.card .cardInfos .comment {
  font-size: 15px;
  font-weight: 300;
}
.card .price {
  width: 27px;
  height: 18px;
  font-size: 15px;
  border: solid 1px green;
  padding-top: 28px;
}

.button_order {
  height: 50px;
  border: 0;
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  color: White;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: all 300ms ease-in-out;
  width: 186px;
  height: 50px;
  margin-bottom: 40px;
}
.button_order:hover {
  opacity: 0.85;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.41);
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Desktop, equal/more than 1440px) *//*# sourceMappingURL=restau_1.css.map */