@charset "UTF-8";
/** Variables **/
/** Mixins **/
/** General **/
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

.h1-restaurant {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}

.h2 {
  font-size: 24px;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}
a a:hover {
  cursor: pointer;
}

/** Header **/
.header {
  background-color: white;
  position: relative;
  width: 100%;
}
.header__logo {
  height: 63px;
  width: 100%;
}
.header__logo--width {
  width: 162px;
  padding-top: 10px;
}
.header__goback {
  width: 30px;
  height: 30px;
  font-size: 18px;
  color: #353535;
  position: absolute;
  top: 16px;
  left: 16px;
}
.header .header__logo, .header .header__goback {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Footer **/
footer {
  width: 100%;
  background-color: #353535;
  font-weight: 500;
  font-size: 16px;
  color: White;
  padding: 22px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .footer {
  min-width: 349px;
  margin-left: 12px;
}
footer .footer__logo, footer .footer__menu {
  margin: 0 12px;
}
footer .footer .footer__logo {
  height: 27px;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}
footer .footer .footer__menu {
  list-style: none;
  padding: 0;
  margin-top: 9px;
}
footer .footer .footer__menu li {
  height: 20px;
  padding: 7px 0 0 0;
}
footer .footer .footer__menu li .fa-utensils {
  font-size: 14px;
  padding-right: 10px;
}
footer .footer .footer__menu li .fa-handshake-angle {
  font-size: 11px;
  padding-right: 8px;
}

/** General **/
.body__container {
  background-color: #f6f6f6;
  width: 100%;
  box-sizing: content-box;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}

/** main **/
main {
  width: 100%;
  margin: 0;
  padding: 0;
}
main > img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 62%;
     object-position: center 62%;
  position: static;
}
main .mainBlock {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -45px;
}
main .mainBlock .mainBg {
  background-color: #f6f6f6;
  width: 100%;
  min-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin: 0;
  border-radius: 40px 40px 0 0;
  padding-top: 60px;
}

/** Titre **/
.h1Block {
  position: relative;
  width: 341px;
}
.h1Block > h1 {
  position: absolute;
  top: -27px;
}
.h1Block .icon-heart, .h1Block .icon-fullheart {
  font-size: 22px;
  position: absolute;
  top: -19px;
  right: 25px;
}
.h1Block .icon-fullheart {
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.h1Block .icon-fullheart:hover {
  opacity: 1;
}

/** Sections **/
@keyframes opacityMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.dish {
  animation-delay: 0.3s;
}

.dessert {
  animation-delay: 0.6s;
}

section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 60%;
  min-width: 349px;
  animation: opacityMenu 1s ease reverse both;
}
section .h2Block {
  display: flex;
  flex-direction: column;
}
section .h2Block h2 {
  font-size: 16px;
  font-weight: 300;
  height: 24px;
  text-transform: uppercase;
}
section .h2Block .traitVert {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}
section .card {
  height: 69px;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 10px;
  overflow: hidden;
}
section .card .cardInfos {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  margin-left: 15px;
  gap: 1px;
}
section .card .cardInfos h3, section .card .cardInfos .comment {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  padding-top: 10px;
}
section .card .cardInfos h3 {
  font-size: 18px;
  font-weight: 500;
}
section .card .cardInfos .comment {
  font-size: 15px;
  font-weight: 300;
}
section .card .price {
  width: 27px;
  height: 18px;
  font-size: 15px;
  font-weight: 700;
  margin: 37px 1px 0 3px;
}
section .card .greenCheck {
  width: 59px;
  height: 69px;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  transition: margin-right 300ms ease;
  margin-right: -59px;
}
section .card .greenCheck > i {
  font-size: 20px;
  color: white;
  padding: 24px 19px;
}

/** transition greenCheck avec margin-right **/
.card:hover .greenCheck {
  margin-right: 0;
}

/** fin transition **/
/** Button **/
.button_order {
  height: 50px;
  border: 0;
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  color: White;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: all 300ms ease-in-out;
  width: 186px;
  height: 50px;
  margin-bottom: 40px;
}
.button_order:hover {
  opacity: 0.85;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.41);
}

/********************************************************************/
/* Le code ci-dessous correspond à la version responsive uniquement */
/********************************************************************/
/*********************** Media queries ******************************/
/* Large devices (desktops, equal/more than 1024px) */
@media (min-width: 1024px) {
  /** header **/
  .header {
    box-shadow: none;
  }
  .header__goback {
    top: 33px;
    left: 17px;
  }
  .header .header__logo {
    height: 96px;
    box-shadow: none;
  }
  .header .header__logo--width {
    width: 200px;
    padding-top: 0;
  }
  /** main **/
  main > img {
    height: 383px;
    -o-object-position: 50% 58%;
       object-position: 50% 58%;
  }
  .mainBlock {
    margin-top: 0px;
  }
  .mainBlock .mainBg {
    max-width: 73%;
    padding-top: 0px;
  }
  .mainBlock .mainBg .h1Block {
    position: relative;
    width: 307px;
    height: 31px;
    margin-bottom: 0px;
  }
  .mainBlock .mainBg .h1Block > h1 {
    top: -9px;
    left: 0px;
  }
  .mainBlock .mainBg .h1Block .icon-heart, .mainBlock .mainBg .h1Block .icon-fullheart {
    top: 0px;
    right: 0px;
  }
  /* footer */
  footer {
    display: flex;
    justify-content: end;
  }
  footer .footer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 30px 0 10px 0;
    margin: 0;
    gap: 16px;
  }
  footer .footer .footer__logo {
    height: 27px;
    width: 139px;
    margin: 0;
    padding: 0;
  }
  footer .footer .footer__menu {
    display: flex;
    flex-direction: row;
    gap: 7px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  footer .footer .footer__menu > li {
    height: 20px;
    width: 190px;
    padding: 0;
  }
  footer .footer .footer__menu > li .fa-utensils {
    font-size: 14px;
    padding-right: 10px;
  }
  footer .footer .footer__menu > li .fa-handshake-angle {
    font-size: 11px;
    padding-right: 8px;
  }
  footer .footer .footer__menu .li-width {
    width: 130px;
  }
}/*# sourceMappingURL=restaurant.css.map */